@model IEnumerable<TestDemo1.Models.StandardModel>

@{
    ViewData["title"] = "STUDENT STANDARD DETAILS";
}
<H2>@ViewData["title"]</H2>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addstandard">
    AddStandard
</button>

<div class="modal fade" id="addstandard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="studentForm" name="addstandard">

                    <div class="mb-3">
                        <label for="StudentName" class="form-label">StudentName : </label>
                        <input id="StudentName" type="text" name="StudentName" class="form-control" autocomplete="off" /> 
                        <span id="StudentNameError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="teacherName">TeacherName:</label>
                        <select id="teacherName" name="teacherName" class="form-control">                            
                            <option value="" disabled selected>Select</option>

                            @if (ViewBag.TeacherList != null)
                            {
                                foreach (var teacherName in ViewBag.TeacherList)
                                {
                                    <option value="@teacherName">@teacherName</option>
                                }
                            }
                            else
                            {
                                <option value="" disabled>No teachers available</option>
                            }
                        </select>
                        <span id="teacherNameError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Standard">Standard:</label>
                        <select id="Standard" name="Standard" class="form-control">                            
                            <option value=""  disabled selected>Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span id="StandardError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Section">Section:</label>
                        <select id="Section" name="Section" class="form-control">                           
                            <option value="" disabled selected>Select</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <span id="SectionError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Age">Age:</label>
                        <input id="Age" type="number" name="Age" class="form-control" autocomplete="off">
                        <span id="AgeError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Gender" id="Male" value="Male">                            
                            <label class="form-check-label" for="Male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Gender" id="Female" value="Female">                           
                            <label class="form-check-label" for="Female">
                                Female
                            </label>
                        </div>
                        <span id="GenderError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Address">Address:</label>
                        <input id="Address" type="text" name="Address" autocomplete="off" class="form-control">
                        <span id="AddressError" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="submit" onclick="AddStandard()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@* <<--UpdateStandardModal-->> *@

<div class="modal fade" id="updateStandardModal" tabindex="-1" role="dialog" aria-labelledby="updateStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Standard Details</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="UStudentId" class="col-form-label">StudentId:</label>
                        <input type="text" class="form-control" id="UStudentId" hidden>
                    </div>

                    <div class="form-group">
                        <label for="UName" class="col-form-label">StudentName:</label>
                        <input type="text" class="form-control" id="UName">
                    </div>

                    <div class="form-group">
                        <label for="UStandard" class="col-form-label">Standard:</label>
                        <input type="text" class="form-control" id="UStandard">
                    </div>

                    <div class="form-group">
                        <label for="USection" class="col-form-label">Section:</label>
                        <input type="text" class="form-control" id="USection">
                    </div>

                    <div class="form-group">
                        <label for="UAge" class="col-form-label">Age:</label>
                        <input type="text" class="form-control" id="UAge">
                    </div>

                    <div class="form-group">
                        <label for="UGender" class="col-form-label">Gender:</label>
                        <input type="text" class="form-control" id="UGender">
                    </div>

                    <div class="form-group">
                        <label for="UAddress" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" id="UAddress">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateButton" onclick="UpdateStandard()">Update</button>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{

    <table class="table" id="standard-table">

        <thead>
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>TeacherName</th>
                <th>Standard</th>
                <th>Section</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StudentId)</td>
                    <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                    <td>@Html.DisplayFor(modelItem => item.teacherName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Standard)</td>
                    <td>@Html.DisplayFor(modelItem => item.Section)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>

                        <a class="btn btn-info" onclick="PopulateUpdateStandard(@item.StudentId)" data-bs-toggle="modal" data-bs-target="#updateStandardModal">Update</a>
                        @*  <a class="btn btn-primary" onclick="ViewStudents(@item.StudentId)" data-bs-toggle="modal" data-bs-target="#viewStudentModal">View</a> *@
                        <a class="btn btn-danger" onclick="DeleteStandard(@item.StudentId)">Delete</a>



                        @*  <a class="btn btn-success" asp-action="updatestudent" asp-route-studentid="@item.studentid">update</a>
                <a class="btn btn-danger" asp-action="deletestudent" asp-route-studentid="@item.studentid">delete</a> |
                *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No Data Available</h2>
}




<script>


    function openModal() {
        $(".modal").modal("show")
    }

    $('#updateStandardModal').on('click', 'button.close', function (eventObject) {
        $('#updateStandardModal').modal('hide');
    });

    $(document).ready(function () {
        $('#teacherName').val('');
    });



    // <style type="text/css" >
    //     label.error {
    //     color: red;
    // }
    // </style>



    function AddStandard() {
        debugger;

        var validator = $("#studentForm").validate({
            rules: {               
                StudentName: {
                    required: true
                },
                teacherName: {
                    required: true
                },
                Standard: {
                    required: true
                },
                Section: {
                    required: true
                },
                Age: {
                    required: true,
                    digits: true // Ensure age is a number
                },
                Gender: {
                    required: true
                },
                Address: {
                    required: true
                }
            },
            messages: {              
                StudentName: {
                    required: "Please enter student name."
                },
                teacherName: {
                    required: "Please enter teacher name."
                },
                Standard: {
                    required: "Please select standard."
                },
                Section: {
                    required: "Please select section."
                },
                Age: {
                    required: "Please enter age.",
                    digits: "Age must be a number."
                },
                Gender: {
                    required: "Please select gender."
                },
                Address: {
                    required: "Please enter address."
                }
            }
        });

        // Check if the form is valid
        if (!validator.form()) {
            return; // Exit if form is not valid
        }


        var standardDetails = {
            StudentId: $("#StudentId").val(),
            StudentName: $("#StudentName").val(),
            teacherName: $("#teacherName").val(),
            Standard: $("#Standard").val(),
            Section: $("#Section").val(),
            Age: $("#Age").val(),
            Gender: $('input[name="Gender"]:checked').val(),
            Address: $("#Address").val()
        }

        var formData = new FormData();
        for (var key in standardDetails) {
            formData.append(key, standardDetails[key]);
        }

        $.ajax({
            type: "POST",
            url: "/Standard/AddStandard",
            data: formData,
            contentType: false,
            processData: false,
            cache: false,
            success: function (data) {
                Swal.fire({
                    title: "Good job!",
                    text: "Data updated successfully",
                    icon: "success",
                    confirmButtonText: "Ok",
                });
                window.location.href = '/Standard/ViewStandard';
            },
            error: function (error) {
                console.log("Error, when saving standard:", error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred. Please try again.'
                });
            }
        });
    }


   

    function PopulateUpdateStandard(StudentId) {
        debugger;
        $.ajax({
            type: "GET",
            url: "/Standard/PopulateUpdateStandard?studentid=" + StudentId,
            success: function (data) {
                debugger;
                // Assuming 'data' is an object with standard details
                $('#UStudentId').val(data.studentId);
                $('#UName').val(data.studentName);
                $('#UStandard').val(data.standard);
                $('#USection').val(data.section);
                $('#UAge').val(data.age);
                $('#UGender').val(data.gender);
                $('#UAddress').val(data.address);
            },
            error: function (errorThrown) {
                console.log("Error fetching standard:", errorThrown);
                Swal.fire("Oops", "An error occurred while fetching your data, Please try again later.", "error");
            }
        });
    }

    function UpdateStandard() {
        debugger;

        // if (!validateForm()) {
        //     return;
        // }

        var studentID = {
            StudentId: $('#UStudentId').val()
        }

        // var StudentId = $("#UStudentId").val();
        var oModel = {
            StudentName: $("#UName").val(),
            Standard: $("#UStandard").val(),
            Section: $("#USection").val(),
            Age: $("#UAge").val(),
            Gender: $("#UGender").val(),
            Address: $("#UAddress").val()
        }


        // var oModel = { StudentId: StudentId, StudentName: StudentName, Standard: Standard, Section: Section, Age: Age, Gender: Gender, Address: Address };
        debugger;
        var formData = new FormData();
        formData.append("Id", studentID.StudentId);
        formData.append("model", JSON.stringify(oModel));
        $.ajax({
            type: "POST",
            url: "/Standard/UpdateStandard",
            data: formData,
            // contentType: "application/json",
            // dataType: 'json',
            // cache: false,
            // async: false,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {

                Swal.fire({
                    title: "Good job!",
                    text: "Data updated successfully",
                    icon: "success",
                    button: "Ok",
                });

            },
            error: function (errorThrown) {
                console.log("Error updating student:", errorThrown);
                Swal.fire("Oops", "An error occurred while updating your data, Please try again later.", "error");
            }
        });
    }



   


    function DeleteStandard(StudentId) {
        if (confirm("Are you sure you want to delete this Student?")) {
            $.ajax({
                type: "POST", // or "GET" depending on your server-side implementation
                url: "/Standard/DeleteStandard?studentid=" + StudentId,
                success: function (data) {
                    alert("Student deleted successfully!");

                    get();
                },
                error: function (error) {
                    console.error("Error deleting Student:", error);
                }
            });
        }
    }

    $(document).ready(function () {
        $.ajax({
            url: '/Teacher/GetTeacherNames',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var dropdown = $('#teacherName');
                dropdown.empty();
                $.each(data, function (i, teacherName) {
                    dropdown.append($('<option></option>').attr('value', teacherName).text(teacherName));
                });
            },
            error: function () {
                alert('Error occurred while loading teacher names.');
            }
        });
        //debugger;
    });


</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}