@model TestDemo1.Models.StudentsModel;

@{
    ViewData["Title"] = "Update Student Data";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-6">
        <div class="shadow-sm p-2">
            <form asp-action="UpdateStudent">
                @Html.HiddenFor(model => model.StudentId)

                <div class="mb-2">
                    <label asp-for="StudentName" class="form-label">Student Name</label>
                    <input asp-for="StudentName" type="text" class="form-control" value="@Model.StudentName">
                </div>

                <div class="mb-2">
                    <label asp-for="StudentAddress" class="form-label">Student Address</label>
                    <input asp-for="StudentAddress" type="text" class="form-control" value="@Model.StudentAddress">
                </div>

                <div class="mb-2">
                    <label asp-for="StudentAge" class="form-label">Student Age</label>
                    <input asp-for="StudentAge" type="number" class="form-control" value="@Model.StudentAge" min="5" max="18">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="ViewStudents">List of Students</a>
            </form>
        </div>
    </div>
</div>